<!-- <label for="avatar">Choose a profile picture:</label>
<input [(ngModel)]=“inputfile” type="file" id="upload" name="upload">

<br>
<button type="submit" (click)="sub($event)">submit</button>
<br>
{{fileName}} -->


<form [formGroup]="form" enctype="multipart/form-data" (ngSubmit)="submitForm($event)">
    <!-- <div class="form-group">
      <label for="trip">Trip:</label>
      <input formControlName="name" type="text" id="trip" name="trip" placeholder="Name of the trip">
    </div> -->  
      <input type="file" (change)="uploadFile($event,'guide')">
    <!-- <div class="form-group">
      <label for="photo">Guide for the trip:</label>
      <input formControlName="photo" type="image" id="photo" name="photo" (change)="uploadFile($event, 'photo')">
    </div> -->
   <br>
   <br>
      <button>Upload files</button>
 
  </form>

  <br>
  {{showEvent?.name}}<br>
  {{showEvent?.size}}<br>   
  {{showEvent?.type}}
  
  {{response2}}